html, body {
    
}

#wrap {
    min-height: 100%;
  }
  
  #main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
  }
  
  .footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
  } 

table, tr, td, th{
    border: 1px solid;
}

caption {
    color: gray;
}
/* INSERT */
.form-insert {
    margin-bottom: 1em;
}
.optional-text {
    color: gray;
}


